body {
  font-family: Arial, sans-serif;
  background: var(--couleur-body);
  color: var(--couleur-texte);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form Container */
form {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  margin: 2vh 2vw;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

/* Form Fields */
label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  box-sizing: border-box;
  font-size: 14px;
}

/* Button */
button {
  width: 100%;
  padding: 10px;
  background-color: #1b7faa;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6a11cb;
}

/* Error Message */
#error-message {
  font-size: 14px;
  color: #ff6b6b;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
}
